body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    
}
.start{
    font-size: 50px;
}
.owner{
    color: red;
}

   
.inro{
   color: green; 
   font-size: 30px;
}
.uni{
    color: purple;
}
p b{
    color: magenta;
}
.second{
    color: maroon;
}
.third{
    color: orangered;
}
.forth{
    color: rgb(8, 130, 134);
}
.half-width{
    padding-left: 80px;
    width: 50%;
}
section{
    display: flex;
}
.half-width img{
    width: 100%;
}

.half-width h1{
    padding-top: 40px;
}
a{
    color: white;
}

.button{
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.top{
    background-image: url(image/top-banner.png);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}


.middle-pic{
    width: 50%

}
.middle-pic img{
    width: 100%;
}
.details2{
    padding-right: 50px;
    
}
.middle{
    background-image: url(image/middle-side.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
}

   

.divider{
    display: flex;
    width: 100%;
    background-image: url(image/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;

    
    

   
    
}
.sector{
   
    width: 100%;
    box-shadow: 10px 10px 10px 10px teal;
    margin: 50px;
    padding: 30px;
    background-image: url(image/exp-bg.png);
    background-position:left;
    background-repeat: no-repeat;
    border:5px solid red;
    
   
    
    

  
}
.python{

    padding-left: 80px;
    padding-right: 50px;
  
    

}
.univer{
    font-size: 20px;
    color:teal;
}
#slice_first{
    border-bottom: 7px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}

#slice_middle{
    border-bottom: 7px solid;
    border-image: linear-gradient(blue,green);
    border-image-slice: 1;
    

}
#slice_last{

    border-bottom: 7px solid;
    border-image: linear-gradient(green,orangered);
    border-image-slice: 1;
}

footer{
    text-align: center;

}
footer span{
    color: red;
}
    