
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding-left: 50px;
}

.start{
    font-size: 50px;
}
.owner{
    color: red;
}
.intro{
    font-size: 20px;
}
.underline{
    color:green;
}
.half-width{
    width: 50%;
}
.haf-width img{
    width: 1%;
}
section{
    disply: flex;
}