
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.letters{
    padding-left: 40px;
    width: 50%;
}
.start{
    font-size: 50px;
}
.owner{
    color: red;
}
.intro{
    font-size: 20px;
}
.underline{
    color:green;
}
.half-width{
    width: 50%;
}
.haf-width img{
    width:100%;
}
section{
    disply:flex;
}